STARTVAR
# first variables block
	VAR1 = 111
	VAR2 = aaa
	VAR3 = xxx
ENDVAR

AAA
# first mapfile content block
	FIRST %(VAR1)s
	SECOND "%(VAR2)s"
	THIRD "%(VAR3)s"
BBB

STARTVAR
# second variables block
	VAR1 = 222
	VAR2 = bbb
ENDVAR

AAA
# second mapfile content block
	FIRST %(VAR1)s
	SECOND "%(VAR2)s"
	THIRD "%(VAR3)s"
BBB
